langchain-community
langchain-unstructured 
unstructured
unstructured[pdf,html]
pypandoc
langchain-core
langchain-milvus
scrapy
w3lib
pymilvus
torch
sentence-transformers
langchain-huggingface
libmagic-dev
python-magic
poppler-utils
tesseract-ocr
mesa-libGL
pdfminer.six
pi-heif
unstructured-inference
